        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background: #eff3f8;
        }

        .container {
            padding: 30px;
            width: 100%;
        }

        .project-section {
            text-align: center;
            padding-bottom: 30px;
        }

        .project-section h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 15px;
        }

        .unproiect {
            padding-bottom: 15px;
        }

        .project-logos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .project-logos img {
            width: 120px;
            margin: 0 5px;
        }

        .project-logos img:not(:last-child) {
            margin-right: 5px;
        }

        .project-logos .black-bar {
            height: 30px;
            width: 2px;
            background-color: #000;
            margin: 0 5px;
        }

        .partners-section {
            text-align: center;
            margin-bottom: 20px;
        }

        .partners-section h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 15px;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
        }

        .slick-slide img {
            width: 50%;
            margin: 0 20px;
        }

        .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
        }

        .slick-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
        }

        .slick-slide {
            display: none;
            float: left;
            height: 100%;
            min-height: 1px;
        }

        .slick-slide img {
            display: block;
        }

        .slick-initialized .slick-slide {
            display: block;
        }

        /* .footer-wid {
            background-image: url(../Images/11.svg);
            background-repeat: no-repeat;
            background-size: 60% auto;
            background-position: 100% 100%;
        } */

        @media (min-width: 768px) {
            .footer-wid {
                background-image: url(../Images/11.svg);
                background-repeat: no-repeat;
                background-size: 40% auto;
                background-position: 100% 100%;
                padding-bottom: 60px;
            }

            .logo {
                margin-top: 20px;
            }

        }

        @media (min-width: 992px) {
            .footer-wid {
                background-image: url(../Images/11.svg);
                background-repeat: no-repeat;
                background-size: 40% auto;
                background-position: 100% 100%;
            }

            .logo {
                margin-top: 15px;
            }

        }


        .footer-mobile-mountains {
            background-image: url(../Images/11.svg);
            background-repeat: no-repeat;
            background-size: contain;
            aspect-ratio: 475/237;
            background-position: 100% 100%;
        }

        .footer-li {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .footer-li a {
            color: #292929;
            text-decoration: none;

        }

        footer h4 {
            border-bottom: 2px solid #007bff;
            display: inline-block;
            padding-bottom: 13px;
            margin-bottom: 10px;
        }

        .social-icons {
            margin-top: 15px;
        }

        .social-icon {
            margin-right: 8px;
            color: #292929;
        }

        .card-title {
            margin-bottom: 30px;
        }

        .jos {
            margin-top: 20px;
        }

        .sus {
            margin-bottom: 20px;
        }

        .despre-tech {
            padding-left: 50px;
        }

        .card-dreapta {
            height: 296px;
        }

        .copyright {
            background-color: #D4D4D4;
        }
        