@import "../bootstrap/scss/functions";

$primary: #70B1FF;
$secondary: #EFEFEF;
$secondary-emphasis: #D9D9D9;
$light-emphasis: #D4D4D4;
$success: #126704;
$danger: #FF6161;
$dark: #292929;

$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

.heading {
    color: $success;
}

.paragraf {
    color: $danger;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/bootstrap.scss";