@import "../bootstrap/scss/functions";

$primary: #10a2e0;

.heading {
    color: $primary;
}

.headings {
    color: $primary;
}

@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/bootstrap.scss";