$primary: #70b1ff;
$secondary: #efefef;
$secondary-emphasis: #d9d9d9;
$light-emphasis: #d4d4d4;
$success: #126704;
$danger: #ff6161;
$dark: #292929;
$info: #0000ee;

$btn-dark: #292929;
$btn-success: #126704;
$bg-light: #d4d4d4;

$font-family-sans-serif: "Open Sans", sans-serif;

:root {
    font-family: $font-family-sans-serif;
}
