$primary: #70B1FF;
$secondary: #EFEFEF;
$secondary-emphasis: #D9D9D9;
$light-emphasis: #D4D4D4;
$success: #126704;
$danger: #FF6161;
$dark: #292929;

$btn-dark: #292929;
$btn-success: #126704;
$bg-light: #D4D4D4;

$font-family-sans-serif: "Open Sans", sans-serif;

:root {
    font-family: $font-family-sans-serif;
}