@import "variables";


body {
    background-color: $secondary;
    font-family: $font-family-sans-serif !important;
}

.map-parent {
    position: relative;
}

.button-list {
    top: 24px;
}

.button-list:hover {
    background-color: $success;
    border: $success;
}

.map-resposive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    border: solid 2px $danger;
}

@media (max-width: 767.98px) {                      // Small devices - landscape phones, less than 768px
    .map-resposive {    
    padding-bottom: 140% !important; 
    }
}

@media (max-width: 991.98px) {                      // Medium devices - tablets, less than 992px
    .map-resposive {    
        padding-bottom: 110%; 
    }
}

.map-resposive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}

.card-details {
    border-radius: 25px;
    position: absolute;
    z-index: 2;
    width: 500px;
    max-width: calc(100% - 24px);
    bottom: 24px;
}

.card-text-km {
    color: #7F7F7F;
    margin-top: 2px;   
    margin-bottom: 0px;    
    padding-bottom: 0px;    
}

.card-title, .card-text{
    color: #212121;
}

.card-text, .card-text-km{
    padding-right: 17%; 
}

.heart-card {
    margin-bottom: 20px;
    margin-right: 20px;
    scale: 1.5;
}

.img-spring-card {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}