@import "../bootstrap/scss/functions";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "variables";

@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// @import "../bootstrap/scss/reboot";
// @import "../bootstrap/scss/button-group";
// @import "../bootstrap/scss/buttons";
// @import "../bootstrap/scss/close";
// @import "../bootstrap/scss/containers";
// @import "../bootstrap/scss/dropdown";
// @import "../bootstrap/scss/forms";
// @import "../bootstrap/scss/grid";
// @import "../bootstrap/scss/helpers";
// @import "../bootstrap/scss/images";
// @import "../bootstrap/scss/nav";
// @import "../bootstrap/scss/navbar";
// @import "../bootstrap/scss/transitions";
// @import "../bootstrap/scss/type";
// @import "../bootstrap/scss/utilities";
// @import "../bootstrap/scss/utilities/api";
@import "../bootstrap/scss/bootstrap.scss";

body {
    background-color: $secondary;
    overflow-x: hidden;
}

.spring-heart-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $danger;
    font-weight: bold;
    position: relative;
    z-index: 5;

    img {
        width: 37px;
        height: 40px;
    }

    img.liked {
        display: none;
    }
    img.unliked {
        display: block;
    }

    &[data-liked="true"] {
        img.liked {
            display: block;
        }
        img.unliked {
            display: none;
        }
    }

    &.spring-heart-horizontal {
        flex-direction: row;

        img {
            margin-right: 5px;
        }
    }
}

.map-responsive {
    overflow: hidden;
    position: relative;

    #map {
        // position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 70vh;
        min-height: 400px;
    }

    #marker {
        background-color: $danger;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 300px;

        .spring-map-marker-popup {
            padding: 10px 5px 0 5px;

            a {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: auto;
                    height: 0.8rem;
                }
            }
        }
    }
}
